<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeHRPortal</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.gsu.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.gsu.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.gsu.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjDeptServlet</display-name>
    <servlet-name>ProjDeptServlet</servlet-name>
    <servlet-class>com.gsu.servlet.ProjDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjDeptServlet</servlet-name>
    <url-pattern>/ProjDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntialiseProjectDeptData</display-name>
    <servlet-name>IntialiseProjectDeptData</servlet-name>
    <servlet-class>com.gsu.servlet.IntialiseProjectDeptData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntialiseProjectDeptData</servlet-name>
    <url-pattern>/IntialiseProjectDeptData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignEmployeeDeptData</display-name>
    <servlet-name>AssignEmployeeDeptData</servlet-name>
    <servlet-class>com.gsu.servlet.AssignEmployeeDeptData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignEmployeeDeptData</servlet-name>
    <url-pattern>/AssignEmployeeDeptData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListServlet</display-name>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>com.gsu.servlet.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignEmployeeProject</display-name>
    <servlet-name>AssignEmployeeProject</servlet-name>
    <servlet-class>com.gsu.servlet.AssignEmployeeProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignEmployeeProject</servlet-name>
    <url-pattern>/AssignEmployeeProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntialiseEmpProjectData</display-name>
    <servlet-name>IntialiseEmpProjectData</servlet-name>
    <servlet-class>com.gsu.servlet.IntialiseEmpProjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntialiseEmpProjectData</servlet-name>
    <url-pattern>/IntialiseEmpProjectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployeeByProject</display-name>
    <servlet-name>ListEmployeeByProject</servlet-name>
    <servlet-class>com.gsu.servlet.ListEmployeeByProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployeeByProject</servlet-name>
    <url-pattern>/ListEmployeeByProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployeeByDepartment</display-name>
    <servlet-name>ListEmployeeByDepartment</servlet-name>
    <servlet-class>com.gsu.servlet.ListEmployeeByDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployeeByDepartment</servlet-name>
    <url-pattern>/ListEmployeeByDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterTimeSheet</display-name>
    <servlet-name>EnterTimeSheet</servlet-name>
    <servlet-class>com.gsu.servlet.EnterTimeSheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterTimeSheet</servlet-name>
    <url-pattern>/EnterTimeSheet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gsu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>